.navbar-lol {
    color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background:white;
}

.productCard {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}